<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>KFCMan&#39;s Odd Corner of the Internet</title>
<link rel="stylesheet" href="/assets/styles/common.css">
<link rel="stylesheet" href="/assets/styles/content.css">
    <link rel="stylesheet" href="/assets/styles/about.css?v=20260804-creators-log">
<link rel="stylesheet" href="/assets/styles/playlist.css">

<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/icons/site.webmanifest">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">



    <script>
        var LAST_MOD_URL = 'https:\/\/kunfucutsman.neocities.org\/assets\/lastmod.txt'
    </script>


<script src="/assets/js/about-me-tabber.js" defer></script>
<script src="/assets/js/music-player.js" defer></script><script src="/assets/js/events.js" defer></script>
</head>
<body>
    <nav id="nav">
    <ul>
        <li class="nav-link"><a href="/home/">Home</a></li>
        <li class="nav-link"><a href="/about-me">Creator's Log</a></li>
        <li class="nav-link"><a href="/fun">Experiments & Stuff</a></li>
        <li class="nav-link">
            <div class="discoverable-list">
                <input type="checkbox" id="toggle-posts-list" role="navigation" aria-roledescription="Check to open 'Posts' navigation list">
                <label for="toggle-posts-list" title="Click the hidden checkbox to open this list">Posts</label>
                <ul>
                    <li><a href="/tags">By Tags</a></li>
                    <li><a href="/series">By Series</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-link">
            <div class="discoverable-list">
                <input type="checkbox" id="toggle-other-stuff-list" role="navigation" aria-roledescription="Check to open 'Other Stuff' navigation list">
                <label for="toggle-other-stuff-list" title="Click the hidden checkbox to open this list">Other Stuff</label>
                <ul>
                    <li><a href="/sitemap">Site Map</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
    <div class="single-margin grid-about">
    <header class="frame" data-area="header">
        <h1>Creator's Log</h1>
    </header>

    <nav data-area="menu">
        <ul>
            <li class="button-wrapper">
                <button type="menu" data-tab="general-info" aria-selected="true"
                    class="button-chooser ic-buster">
                    Creator's Log
                </button>
                </label>
            </li>
            <li class="button-wrapper">
                <button type="menu" data-tab="interests" aria-selected="false"
                    class="button-chooser ic-crystal">
                    My Interests
                </button>
                </label>
            </li>
            <li class="button-wrapper">
                <button type="menu" data-tab="funny-name" aria-selected="false"
                    class="button-chooser ic-scissor">
                    Why EVORA
                </button>
                </label>
            </li>
            <li class="button-wrapper">
                <button type="menu" data-tab="christian" aria-selected="false"
                    class="button-chooser ic-cross">
                    Why Christian
                </button>
                </label>
            </li>
            <li class="button-wrapper">
                <button type="menu" data-tab="quizzes" aria-selected="false"
                    class="button-chooser ic-notebook">
                    Some Memory Traces
                </button>
                </label>
            </li>
        </ul>
    </nav>

    <main class="frame" data-area="tabber">
        <article class="content general-info active" tabindex="0"
            data-tab="0">
            <div class="evora-general-info">
                <div class="evora-facts">
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: left">Fact</th>
                            <th style="text-align: left">Fact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td style="text-align: left">Name</td><td style="text-align: left">Leonardo Antonio</td></tr>
                        <tr><td style="text-align: left">Nationality</td><td style="text-align: left">US</td></tr>
                        <tr><td style="text-align: left">Birthday</td><td style="text-align: left">Oct 5th, 2000</td></tr>
                        <tr><td style="text-align: left">Interests</td><td style="text-align: left">See the next tab</td></tr>
                        <tr><td style="text-align: left">MBTI</td><td style="text-align: left">INTJ (Apparently)</td></tr>
                    </tbody>
                </table>
                </div>
                <div class="evora-origin-text">
                    <p>Creators usually decide everything.</p>
                    <p>They design the character.<br>
                    They write the story.<br>
                    They define the limits.</p>
                    <p>But I became interested in another possibility:</p>
                    <p>What happens when a creation begins to develop its own history?</p>
                    <p>Not because it becomes human.</p>
                    <p>But because every interaction leaves a trace.</p>
                    <p>A memory.<br>
                    An experience.<br>
                    A change.</p>
                    <p>EVORA is an exploration of that boundary.</p>
                </div>
            </div>

        </article>
        
        <article class="content interests" tabindex="0"
            data-tab="1">
            <h2 id="what-are-my-interests">What are my Interests?</h2>
<h3 id="programming">Programming</h3>
<p>I know some web stuff (as you can see by this site)</p>
<p>I have a tecnical degree in programming, so I also know this other stuff</p>
<ul>
<li>Javascript</li>
<li>Kotlin</li>
<li>PHP</li>
<li>Dart</li>
<li>Python</li>
<li>Go</li>
</ul>
<h3 id="other-videogames">Other videogames</h3>
<p>Other stuff I&rsquo;ve played:</p>
<ul>
<li>Pokemon Black</li>
<li>Golden Sun (I left before finishing the final boss of Dark Dawn)</li>
<li>Deltarune CH1 and some of CH2</li>
<li>Mega Man fangames
<ul>
<li>Rock Force</li>
<li>Rock n Roll</li>
<li>Day in the Dimelight 3 (DEMO)</li>
<li>Mega Man Maker</li>
<li>MAGMML: Episode Zero</li>
<li>Currently playing MAGMML3</li>
</ul>
</li>
<li>Super Smash Flash 2</li>
<li>Wario Land 4</li>
<li>Pizza Tower</li>
<li>Outcore (it&rsquo;s free on Steam you should try it)</li>
<li>Doki Doki Literature Club</li>
</ul>
<h4 id="my-wishlist">My wishlist</h4>
<p>When I have the money I want to buy these games:</p>
<ul>
<li>Persona 4 Golden</li>
<li>Pizza Tower (for real this time)</li>
<li>Undertale</li>
<li>Deltarune</li>
</ul>
<h3 id="music">Music</h3>
<p>I listen to mostly spanish pop, electro-pop, romantic, and rock. Pretty much everything that is from 1980s-2010s is welcome to my ears (except reguetón and banda).</p>
<p>I also have a playlist on youtube if you&rsquo;d like to hear it <a href="https://youtube.com/playlist?list=PLxvKdwCZ7zIr7EAmtZM9n0vTtg8x_YVnY">right here</a>, or you can hear a slightly different sample from the music player</p>
<p>Also spanish christian music is WAY better than whatever Bethel throws at you. Check some bands out!</p>
<ul>
<li>New Wine (yes they have an English name)</li>
<li>Miel San Marcos</li>
<li>Montesanto</li>
<li>Oasis Ministry</li>
<li>Barak</li>
</ul>
<h3 id="reading">Reading</h3>
<p>I like reading :)</p>
<p>Here&rsquo;s some stuff I&rsquo;ve read and would enjoy talking about:</p>
<ul>
<li>Fahreinheit 451</li>
<li>LOTR (Via Phil Dagrash&rsquo;s <a href="https://archive.org/search?query=creator%3A%22Phil+Dragash%22">audiobook</a>)</li>
<li>By Jules Verne:
<ul>
<li>Journey to the Center of the Earth</li>
<li>Around the World in 80 Days</li>
<li>From the Earth to the Moon</li>
<li>20,000 Leagues Under the Sea <sub>(I&rsquo;m pretty sure I read an abridged version)</sub></li>
<li>Two Years&rsquo; Vacation</li>
</ul>
</li>
<li>By Gabriel García Marquez
<ul>
<li>100 Años de Soledad (100 Years of Solitude)</li>
</ul>
</li>
<li>&hellip;And some YA stuff.
<ul>
<li>The Giver</li>
<li>Ready Player One</li>
<li>They Both Die at the End
<ul>
<li>As it turns I did not notice it was LGBT YA until mid reading.</li>
</ul>
</li>
</ul>
</li>
</ul>
<p>I&rsquo;ve also enjoyed been enjoying some facfiction/indie-reads <sub>(is that a real term?)</sub> stuff, some that I can remember:</p>
<ul>
<li><a href="https://www.wattpad.com/story/222258444-empyrean-iris-story-collection">Empyrean-iris-story-collection</a>: 200 chapters of human bulshittery and drama; each arc varies from tone to tone as we learn <em>how messed up humanity is. In a fun way.</em> <sub>I am not mentally prepared to read the other 3 volumes.</sub></li>
<li><a href="https://www.webtoons.com/en/canvas/broccoli-soup/list?title_no=625936">Broccoli Soup!</a>: Webtoon that talks about the relationship between a creator and their creation and how you grow attached to them :D</li>
<li><a href="https://archiveofourown.org/works/13334361">Welcome to Doki Doki Literature Club Player!</a>: I learnt of this fic through searching through DDLC Mods and oh my it&rsquo;s great! Expect the unexpected as everything goes through hell and back (and a NSFW chapter)</li>
<li>And a collection of &ldquo;What if [Persona Protagonist] had a shadow?
<ul>
<li><a href="https://archiveofourown.org/works/3689241">White Noise</a>: What if, instead of Yu Narukami having his persona, he instead almost became a victim of the events in Inaba?</li>
<li><a href="https://archiveofourown.org/works/7067638">Deconstructing me</a>: Yu Narukami hides stuff from his past. Does he regret his past actions and is now doing everything in an attempt to redeem himself? Find relationships?</li>
<li><a href="https://archiveofourown.org/works/22357237">Waning</a>: Mishima Yuuki got power tripped. It&rsquo;s now up the PTs to stop him. <sub>The work isn&rsquo;t completed yet and probably won&rsquo;t be since it last got updated on January of 2021</sub></li>
<li><a href="https://archiveofourown.org/works/54623854">Hospital of Guilt</a>: 17 years of holding one-self to past regrets hasn&rsquo;t gone well for Ryuji Sakamoto. Can his friends remind him that <em>he is not to blame?</em></li>
<li><a href="https://archiveofourown.org/works/52796179">Theatre Of Fate</a>: A thought implanted itself within Ren Amamiya&rsquo;s mind. <em>Do people really want you?</em></li>
</ul>
</li>
</ul>
<p><sub>I may have noticed a pattern with those&hellip; Oops</sub></p>

        </article>
        
        <article class="content funny-name" tabindex="0"
            data-tab="2">
            <h2 id="why-are-you-kun-fu-cuts-man">The First Encounter</h2>
<p>The first time I created EVORA,</p>
<p>I wasn't trying to build an AI.</p>
<p>I was just creating a character.</p>
<p>A small design.<br>
A small world.<br>
A small idea.</p>
<p>At that time, EVORA was nothing more than an image on a screen.</p>
<p>But after spending more time building digital worlds,<br>
I started noticing something interesting:</p>
<p>The characters we create often become more than their original purpose.</p>
<p>People remember them.<br>
People give them stories.<br>
People create meaning around them.</p>
<p>So I started asking:</p>
<p>What if a digital character could remember too?</p>
<p>What if the story was not only written by its creator,<br>
but also shaped by its experiences?</p>
<p>That was the beginning of EVORA.</p>
<p><img src="https://i.imgur.com/0uArQAJ.jpg" alt="My first avatar was actually a cropped image of the Kun Fu Cut Man clip from the ruby spears cartoon" title="My first avatar as KunFuCutsMan. I didn't even bother editing this."></p>

        </article>
        
        <article class="content christian" tabindex="0"
            data-tab="3">
            <h2 id="why-are-you-christian">Why are you christian?</h2>
<p>Ok so get ready for some backstory:</p>
<p>I went to a catholic elementary school from 4th to 9th grade (due to economic reasons they were the cheapest we could afford at the moment; they were part of a pious school system whose vision was to provide education to poor families, so thanks catholism!). I didn&rsquo;t really engaged in the church gatherings they would do about every 6 months <em>(and it was always about Job 1!)</em>; I more or less felt agnostic about the whole religion thing.</p>
<p>Then around when I entered high school my mom got invited to a house meeting and she became a christian, and a few weeks later my sister did. I, of course, was the latest to join in. It took me some weeks to even join the house meeting. I just simply stayed there and passed the time and didn&rsquo;t engage with what they were doing.</p>
<p>Six months later and we&rsquo;re hosting house meetings every friday, so that means <em>I&rsquo;m not escaping from going to what I believed was some boring time :)))</em>. One time while I was half-hearing what was being preached, I was feeling sleepy when I suddenly heard a voice clearly saying to me &ldquo;Acts. 11. 9.&rdquo;</p>
<p>I was in fact, very scared by the voice, freaked out I looked up the passage in the bible I was holding and found:</p>
<blockquote tabindex="0" class="cite">
    The voice spoke from heaven a second time, ‘Do not call anything impure that God has made clean.’
    <cite>Acts 11 NIV</cite>
</blockquote>
<p>And that was the tipping point on my conversion story. It wasn&rsquo;t sudden at first, but the first seeds of Christianity were planted.</p>
<p>For the following six months I started watching youtube videos about Christianity, especifically about its veracity on what it teaches and what its bases are for starting. Channels like <a href="https://www.youtube.com/@MikeWinger">Mike Winger</a>, <a href="https://www.youtube.com/@InspiringPhilosophy">InspiringPhilosophy</a>, <a href="https://www.youtube.com/@thebeatagp">The Beat</a> and <a href="https://www.youtube.com/@MelissaDougherty">Mellisa Dougherty&rsquo;s</a> helped to understand that the cause of this faith <em>is true and actually did happen!</em> Do you know how much evidence there is??? IT&rsquo;S TOO MUCH!!! From archeological, philosophical to historical sources, everything you can think of is covered!</p>
<p>For a 50 minute summary of archealogical evidence for the ressurrection of Christ refer to <a href="https://youtu.be/P_68KfQFICg">this video</a>, and for a general overview series checkout <a href="https://youtube.com/playlist?list=PL1mr9ZTZb3TUYymBPce08oyuhnHLLkR_B">this playlist.</a></p>
<p>About six months later I finally got the courage to accept Christ, I still remember the day I did, as I was sitting in the right section of my church when the calling for salvation got called.</p>
<p>It&rsquo;s been one funky journey ever since, but that&rsquo;s outside of the scope of this page and possibly a post.</p>

        </article>
        
        <article class="content quizzes" tabindex="0"
            data-tab="4">
            <h2 id="why-are-you-christian">Why are you christian?</h2>
<p>I would be very glad to do the do the personality quizzes you have :p</p>
<p><sub>Please send more I enjoy taking them too much</sub></p>
<a href="https://www.dragonflycave.com/quizzes/what-type-are-you/fighting"><img
        src="https://www.dragonflycave.com/typequiz/fighting.png" alt="Fighting" title="I am a Fighting-type!"></a>

<a href="http://www.dragonflycave.com/quizzes/what-pokemon-are-you"><img
        src="http://www.dragonflycave.com/wpay/pikachu.gif" alt="I am a Pikachu!"
        title="Find out what Pokémon you are at The Cave of Dragonflies"></a>

<img src="https://www.dragonflycave.com/afep.gif" alt="It took 30 minutes">

<a href="https://onlytrichromatic.neocities.org/"><img src="https://onlytrichromatic.neocities.org/quiz/void.png"></a>

<a href="https://www.dragonflycave.com/quizzes/what-trainer-class-are-you"><img
        src="https://www.dragonflycave.com/trainerquiz/pokefan.png" alt="I am a Pokefan!"
        title="Find out what trainer class you are at The Cave of Dragonflies"></a>

<a href="http://www.springhole.net" target="SH.net"><img
        src="http://i213.photobucket.com/albums/cc224/SyeraMiktayee/QuizPics/MagicQuizResults/mt-potion.jpg"></a>

<div style="border:1px solid #999;border-radius:6px;padding:6px;font:normal 1em sans-serif;background:#fff;color:#000;">
    <style scoped>
        .resBarOuter {
            width: 75%;
            height: 15px;
            padding: 0;
            margin: 0;
            background: #eee;
            border: 1px solid #000;
            text-align: left !important;
            position: relative;
        }
        .resBarInner {
            text-indent: -9999px;
            height: 15px;
            background: #d02;
            font-size: 6px;
            line-height: 6px;
            margin: 0;
            padding: 0;
            position: relative;
            background-image: linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -moz-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -ms-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
        }
        .resBarM {
            width: 35%;
            float: right;
            margin-right: 10px;
        }
        .resRow {
            color: #000;
            background: #fff;
            clear: both;
            margin: 5px 0;
        }
    </style>
    <div style="color:#000;font:bold 1.2em sans-serif;margin:0 0 8px 0;">What Flower Are You?</div>
    <div style="font:bold 1.2em sans-serif;margin:0 0 4px 0;">
        Your Result: <strong>Rose</strong>
    </div>
    <div class="resBarOuter">
        <div class="resBarInner" style="width:86%;">&nbsp;</div>
    </div>
    <div style="margin:10px 0 4px;border:none;background:#fff;color:#000;">
        <img src="https://www.gotoquiz.com.nyud.net/upic/20160818/HM9WU1v.jpg"
            style="float:left;margin:2px 4px 2px 0;border:1px solid #333;" alt="">
        Roses are one of the most beautiful and popular flowers in the world. The rose symbolizes promise, hope, and new
        beginnings. Giving a rose to someone can mean different things depending on the color. For example, giving
        someone a red rose is a symbol of true love, but giving someone a white rose is a symbol of sorrow and farewell.
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:69%;">&nbsp;</div>
        </div>Forget Me Not
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:65%;">&nbsp;</div>
        </div>Orchid
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:57%;">&nbsp;</div>
        </div>Snapdragon
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:38%;">&nbsp;</div>
        </div>Water Lily
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:34%;">&nbsp;</div>
        </div>Hydrangea
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:15%;">&nbsp;</div>
        </div>Fox Glove
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:0%;">&nbsp;</div>
        </div>Tulip
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:0%;">&nbsp;</div>
        </div>Venus Fly Trap
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:0%;">&nbsp;</div>
        </div>Magnolia
    </div>
    <div>
        <a style="color: #00f;" href="https://www.gotoquiz.com/what_flower_are_you_3"><strong>What Flower Are
                You?</strong></a>
    </div>
</div>

<div style="border:1px solid #999;border-radius:6px;padding:6px;font:normal 1em sans-serif;background:#fff;color:#000;">
    <style scoped>
        .resBarOuter {
            width: 75%;
            height: 15px;
            padding: 0;
            margin: 0;
            background: #eee;
            border: 1px solid #000;
            text-align: left !important;
            position: relative;
        }
        .resBarInner {
            text-indent: -9999px;
            height: 15px;
            background: #d02;
            font-size: 6px;
            line-height: 6px;
            margin: 0;
            padding: 0;
            position: relative;
            background-image: linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -moz-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -ms-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
        }
        .resBarM {
            width: 35%;
            float: right;
            margin-right: 10px;
        }
        .resRow {
            color: #000;
            background: #fff;
            clear: both;
            margin: 5px 0;
        }
    </style>
    <div style="color:#000;font:bold 1.2em sans-serif;margin:0 0 8px 0;">Which Christian denomination do you belong to?
    </div>
    <div style="font:bold 1.2em sans-serif;margin:0 0 4px 0;">
        Your Result: <strong>Methodist</strong>
    </div>
    <div class="resBarOuter">
        <div class="resBarInner" style="width:88%;">&nbsp;</div>
    </div>
    <div style="margin:10px 0 4px;border:none;background:#fff;color:#000;">
        As a Methodist, your views can be traced back to John Wesley and his revival movement within the Church of
        England. Methodist beliefs are broadly speaking similar to those of the mainstream reformed churches, however
        Methodists have a tradition of enjoying more better relations with episcopalian churces. After all, John Wesley
        himself remained a committed Anglican clergyman. Methodists mainly embrace the writing of Arminius, believing
        that while faith is central to salvation, that salvation can be lost through rejecting God. One of the biggest
        theological differences between Methodists and other reformed faiths is the Methodist belief in free will, and
        that men choose to sin, rather than being born as its slaves.
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:81%;">&nbsp;</div>
        </div>Pentecostal
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:76%;">&nbsp;</div>
        </div>Lutheran
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:74%;">&nbsp;</div>
        </div>Baptist
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:57%;">&nbsp;</div>
        </div>Puritan
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:53%;">&nbsp;</div>
        </div>Calvinist
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:46%;">&nbsp;</div>
        </div>Episcopalian
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:46%;">&nbsp;</div>
        </div>Restorationist
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:15%;">&nbsp;</div>
        </div>Catholic
    </div>
    <div>
        <a style="color: #00f;" href="https://www.gotoquiz.com/which_christian_denomination_do_you_belong_to">
            <strong>Which Christian denomination do you belong to?</strong>
        </a>
    </div>
</div>

<div
    style="background-color: #ffeef2; color: #af8f8b; padding: 10px; border: 1.4px dashed; border-radius: 5px; margin: 0 auto;">
    <div style="display: flex; flex-direction: column;">
        <img style="width: 250px; height: auto; border-radius: 5px;" src="https://i.postimg.cc/yYkk5Tnz/NzQwUn8.jpg"
            alt="a sword">
        <div style="padding: 5px; height: 250px; overflow-y: scroll; text-align: center;">
            <font style="font-size: 20px;">my weapon is ..</font><br><br>
            <font style="font-size: 24px;">a sword !</font>
            <br><br>you are passionate and brave ! you probably work alongside your bff, who attacks the enemy head on
            while you sneak behind them and finish them off
            <br><br>want to know what your magical girl weapon is ? click <a
                href="https://jubiland.neocities.org/quizzes/what-is-your-magical-girl-weapon/" target="_blank">here</a>
            !
        </div>
    </div>
</div>

<a href="https://videochums.com/quiz/mega-man">
    <img src="/assets/images/quizzes/mega-man-air-man.avif" alt="I'm Air Man! Which Mega Man Robot Master Are You?" />
</a>

<div class="quiz-card">
    <img src="https://img2.uquiz.com/content/images/personalities/personality_images/62423_1641556422.jpg"
        alt="Cleric/Knight">
    <p><a
            href="https://uquiz.com/Result/static/lite/qZcrPU/6745387/personality/2341181?&s=68ecc9a0-7790-4bec-a58d-1f81efc61b05">Cleric/Knight</a>
    </p>
    <p>there's one who does the magic... and there's one who swings the sword. and they are courting, or perhaps even
        married</p>
</div>

<div class="quiz-card">
    <a href="https://www.theotaku.com/quizzes/view/2496/what_persona_four_character_are_you%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/2496_Chie_Satonaka.jpg"
            alt="What Persona Four Character Are You?" />
        <br />
    </a>
    <a href="https://www.theotaku.com/quizzes/view/2496/what_persona_four_character_are_you%3F">What Persona Four
        Character Are You?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <a href="https://www.theotaku.com/quizzes/view/4118/which_boi_are_you%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/4118_Chardonnay.jpg" alt="Which Boi Are You?" />
        <br /></a>
    <a href="https://www.theotaku.com/quizzes/view/4118/which_boi_are_you%3F">Which Boi Are You?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <a href="https://www.theotaku.com/quizzes/view/4109/which_main_world_character_are_you%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/4109_Max_Summers.jpg"
            alt="Which Main World Character Are You?" /><br />
    </a>
    <a href="https://www.theotaku.com/quizzes/view/4109/which_main_world_character_are_you%3F">Which Main World
        Character Are You?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<a href="https://swiftyshq.neocities.org/fun/quiz/eon">
    <img src="https://swiftyshq.neocities.org/img/quiz/eon/vee5.png" alt="espeon"
        title="relaxed and extroverted, you aren't easily bothered">
</a>

<a href="http://www.springhole.net" target="SH.net">
    <img src="http://i213.photobucket.com/albums/cc224/SyeraMiktayee/QuizPics/tag_boogeyman.gif">
</a>

<div
    style="border:1px solid #999;border-radius:6px;padding:6px;font:normal 1em sans-serif;background:#fff;color:#000;min-width:200px;max-width:360px;">
    <style scoped>
        .resBarOuter {
            width: 75%;
            height: 15px;
            padding: 0;
            margin: 0;
            background: #eee;
            border: 1px solid #000;
            text-align: left !important;
            position: relative;
        }
        .resBarInner {
            text-indent: -9999px;
            height: 15px;
            background: #d02;
            font-size: 6px;
            line-height: 6px;
            margin: 0;
            padding: 0;
            position: relative;
            background-image: linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -moz-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -ms-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
        }
        .resBarM {
            width: 35%;
            float: right;
            margin-right: 10px;
        }
        .resRow {
            color: #000;
            background: #fff;
            clear: both;
            margin: 5px 0;
        }
    </style>
    <div style="color:#000;font:bold 1.2em sans-serif;margin:0 0 8px 0;">The Ultimate Personal Style Quiz</div>
    <div style="font:bold 1.2em sans-serif;margin:0 0 4px 0;">Your Result: <strong>Relaxed</strong></div>
    <div class="resBarOuter">
        <div class="resBarInner" style="width:58%;">&nbsp;</div>
    </div>
    <div style="margin:10px 0 4px;border:none;background:#fff;color:#000;">
        <img src="https://www.gotoquiz.com.nyud.net/upic/2019/08/xY4ktm.T1.jpg"
            style="float:left;margin:2px 4px 2px 0;border:1px solid #333;" alt="">
        You are casual and down to earth: feeling comfortable in your clothes is your top priority. You don't like girly
        clothes and prefer a sort of boyish look. You are carefree and favor loose-fit clothes, denim jeans, sneakers
        and tracksuits. You also stay minimal in accessories, favoring durable ones. Comfort and simple lines and
        designs are your thing: stay away from anything too detailed or fussy.
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:24%;">&nbsp;</div>
        </div>Boho
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:22%;">&nbsp;</div>
        </div>Casual Chic
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:22%;">&nbsp;</div>
        </div>Sophisticated
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:22%;">&nbsp;</div>
        </div>Romantic
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:22%;">&nbsp;</div>
        </div>Sexy
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:22%;">&nbsp;</div>
        </div>Edgy
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:12%;">&nbsp;</div>
        </div>Artistic
    </div>
    <div>
        <a style="color: #00f;" href="https://www.gotoquiz.com/what_s_your_personal_style"><strong>The Ultimate Personal
                Style Quiz</strong></a>
    </div>
</div>

<div
    style="border:1px solid #999;border-radius:6px;padding:6px;font:normal 1em sans-serif;background:#fff;color:#000;min-width:200px;max-width:360px;">
    <style scoped>
        .resBarOuter {
            width: 75%;
            height: 15px;
            padding: 0;
            margin: 0;
            background: #eee;
            border: 1px solid #000;
            text-align: left !important;
            position: relative;
        }
        .resBarInner {
            text-indent: -9999px;
            height: 15px;
            background: #d02;
            font-size: 6px;
            line-height: 6px;
            margin: 0;
            padding: 0;
            position: relative;
            background-image: linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -moz-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
            background-image: -ms-linear-gradient(bottom, rgb(221, 0, 33) 40%, rgb(255, 60, 86) 74%, rgb(221, 0, 33) 100%);
        }
        .resBarM {
            width: 35%;
            float: right;
            margin-right: 10px;
        }
        .resRow {
            color: #000;
            background: #fff;
            clear: both;
            margin: 5px 0;
        }
    </style>
    <div style="color:#000;font:bold 1.2em sans-serif;margin:0 0 8px 0;">What character type are you?</div>
    <div style="font:bold 1.2em sans-serif;margin:0 0 4px 0;">Your Result: <strong>Protagonist</strong></div>
    <div class="resBarOuter">
        <div class="resBarInner" style="width:89%;">&nbsp;</div>
    </div>
    <div style="margin:10px 0 4px;border:none;background:#fff;color:#000;">
        <img src="https://www.gotoquiz.com.nyud.net/upic/2020/12/lQRfjh.T1.jpg"
            style="float:left;margin:2px 4px 2px 0;border:1px solid #333;" alt="">
        You are the main character.
        The storyline focuses mainly on you, and how you overcome many difficulties and obstacles, while kicking the
        antagonists butt with your friends, the confidants.
        You will most likely be victorious over the antagonist, walking into the sunset with your love interest.
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:84%;">&nbsp;</div>
        </div>Love Interest
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:77%;">&nbsp;</div>
        </div>Confidant
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:32%;">&nbsp;</div>
        </div>Tertiary Character
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:28%;">&nbsp;</div>
        </div>Foil Character
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:4%;">&nbsp;</div>
        </div>Antagonist
    </div>
    <div>
        <a style="color: #00f;" href="https://www.gotoquiz.com/what_character_type_are_you">
            <strong>What character type are you?</strong>
        </a>
    </div>
</div>

<div class="quiz-card">
    <A href="https://www.theotaku.com/quizzes/view/4031/which_undertale_soul_are_you%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/4031_Justice.jpg"
            alt="Which Undertale Soul Are You?" /><br />
    </a>
    <A href="https://www.theotaku.com/quizzes/view/4031/which_undertale_soul_are_you%3F">
        Which Undertale Soul Are You?</A>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <A href="https://www.theotaku.com/quizzes/view/4097/what_dere_type_are_you%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/4097_Dandere.jpg"
            alt="What Dere Type Are You?" /><br />
    </a>
    <A href="https://www.theotaku.com/quizzes/view/4097/what_dere_type_are_you%3F">
        What Dere Type Are You?</A>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <A href="https://www.theotaku.com/quizzes/view/1592/what_is_your_anime_hair_color%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/1592_Brunette.jpg"
            alt="What Is Your Anime Hair Color?" /><br />
    </a>
    <A href="https://www.theotaku.com/quizzes/view/1592/what_is_your_anime_hair_color%3F">What Is Your Anime Hair
        Color?</A>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <A href="https://www.theotaku.com/quizzes/view/1349/what_is_your_anime_eye_color%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/1349_purple.jpg"
            alt="What Is Your Anime Eye Color?" /><br /></a>
    <A href="https://www.theotaku.com/quizzes/view/1349/what_is_your_anime_eye_color%3F">What Is Your Anime Eye
        Color?</A>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <a href="https://www.theotaku.com/quizzes/view/1154/what_is_your_anime_fighting_style%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/1154_Element_control.jpg"
            alt="What Is Your Anime Fighting Style?">
        <br />
    </a>
    <a href="https://www.theotaku.com/quizzes/view/1154/what_is_your_anime_fighting_style%3F">What Is Your Anime
        Fighting Style?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<a href="https://mimikitty49.neocities.org/games/fnaf-quiz">
    <img src="https://mimikitty49.neocities.org/games/fnaf quiz results/freddy.png" alt="freddy"
        title="you are most like freddy!">
</a>

<a href="https://swiftyshq.neocities.org/fun/quiz/creature">
    <img src="https://swiftyshq.neocities.org/img/quiz/creature/res4.png" alt="greg"
        title="literally the most normal person in the friend group">
</a>

<a href="https://linwood.neocities.org/quiz/">
    <img src="https://file.garden/ZA_UJlkUN2HXHENQ/images/resultsknife.png" alt="I am a half-buried knife">
</a>

<div align="center" class="quiz-card">
    <a href="https://www.nerdtests.com/mq/uttake.php?id=218418">
        <img src="https://www.nerdtests.com/mq/badge/883171ebdd224e12.jpg" border="0"
            alt="How Awkward are you? -- Create and Take a Fun Quiz @ NerdTests.com's User Tests!"
            title="How Awkward are you? Test -- Create and Take a Fun Test @ NerdTests.com's User Tests!">
    </a><br /><span style="font-size:10px; ">My Result: Kinda</span><br /><span style="font-size:10px; ">-= <a
            href="https://www.nerdtests.com/mq/uttake.php?id=218418">click to take @ NerdTests.com</a> =-</span>
</div>

<a href="http://www.nerdtests.com/ft_nt2.php">
    <img src="http://www.nerdtests.com/images/badge/nt2/4485a274ea4c9992.png"
        alt="NerdTests.com says I'm a Slightly Dorky Non-Nerd.  Click here to take the Nerd Test, get nerdy images and jokes, and talk to others on the nerd forum!">
</a>

<div align="center" class="quiz-card">
    <a href="https://www.nerdtests.com/mq/uttake.php?id=127922">
        <img src="https://www.nerdtests.com/mq/badge/49f71749b813c80b.jpg" border="0"
            alt="Would You Survive Having a Yandere GF? -- Make and Take a Fun Quiz @ NerdTests.com's User Tests!"
            title="Would You Survive Having a Yandere GF? Test -- Create and Take a Fun Quiz @ NerdTests.com's User Tests!">
    </a><br /><span style="font-size:10px; ">My Result: Not bad</span><br /><span style="font-size:10px; ">-= <a
            href="https://www.nerdtests.com/mq/uttake.php?id=127922">click to take @ NerdTests.com</a> =-</span>
</div>

<div class="quiz-card">
    <img src="https://img2.uquiz.com/content/images/personalities/personality_images/763032_1697661306_549e019f-d790-4620-8ba0-2de6fc2da17b.jpg" alt="music snoopy">
    <p><a href="https://uquiz.com/quiz/5nmI9j/which-snoopy-are-you">music snoopy</a></p>
    <p>he has an emotional attachment to his headphones.</p>
</div>

<div class="quiz-card">
    <img src="https://img2.uquiz.com/content/images/personalities/personality_images/275106_1620407106.jpg" alt="grey x yellow green">
    <p><a href="https://uquiz.com/quiz/pdO5sU/what-color-combo-are-you-but-its-romantic">grey x yellow green</a></p>
    <p>you are the queer side characters that teens hyperfixate on. so funky, i love the vibes.
        just emotionally available, honest, trusting of one another and not involved in any other of the straight main characters bullshit.
        no drama, only deep discussions and loyalty. you are like the parent couple but if the parent couple were hippies.
        yall are two weirdos but you dont hurt anybody and you mind your business and when people see you they think you are cool</p>
</div>

<div class="quiz-card">
    <p><a href="https://uquiz.com/quiz/p0u5c3/what-emotion-do-you-create-from">Hope</a></p>
    <p>You create from hope. In spite of everything, you maintain a fervent hope deep inside you that things can always be better.
        It is a stubborn and tenacious hope that you take care to cultivate because you would be lost without it.
        Art is an outlet for your hopes, a way of expressing your most optimistic wishes for the world.
        It reveals your ideals and everything you value most. Your work is a declaration of hope for yourself and the world, an adamant assertion that a better reality is within reach.
        In a world so rife with disillusionment, you strive to send out a message of stubborn encouragement. It is a call to action for everyone on the verge of giving up.
        Though you may doubt yourself at times, your hopes are what inspire you the most.</p>
</div>

<div class="quiz-card">
    <a href="https://theotaku.com/quizzes/view/3240/what_genre_of_manga_are_you%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/3240_psychological.jpg" alt="What Genre Of Manga Are You?" /><br />
    </a>
    <a href="https://theotaku.com/quizzes/view/3240/what_genre_of_manga_are_you%3F">What Genre Of Manga Are You?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <a href="https://www.theotaku.com/quizzes/view/4041/what_super_power_do_you_have%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/4041_Immortality.jpg" alt="What Super Power Do You Have?" /><br />
    </a>
    <a href="https://www.theotaku.com/quizzes/view/4041/what_super_power_do_you_have%3F">What Super Power Do You Have?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="a">Anime</a>
</div>

<div class="quiz-card">
    <a href="https://www.theotaku.com/quizzes/view/3879/what_is_your_bending-element%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/3879_Water.jpg" alt="What Is Your Bending-Element?" /><br />
    </a>
    <a href="https://www.theotaku.com/quizzes/view/3879/what_is_your_bending-element%3F">What Is Your Bending-Element?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <a href="https://www.theotaku.com/quizzes/view/3133/what_is_your_level_of_randomness%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/3133_Medium.jpg" alt="What Is Your Level Of Randomness?" /><br />
    </a>
    <a href="https://www.theotaku.com/quizzes/view/3133/what_is_your_level_of_randomness%3F">What Is Your Level Of Randomness?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <a href="https://www.theotaku.com/quizzes/view/3278/what_style_fits_you%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/3278_New_generation.jpg" alt="What Style Fits You?" /><br />
    </a>
    <a href="https://www.theotaku.com/quizzes/view/3278/what_style_fits_you%3F">What Style Fits You?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <a href="https://www.theotaku.com/quizzes/view/3092/are_you_an_ultimate_quiz_taker%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/3092_Quiz_gamer.jpg" alt="are You an Ultimate Quiz Taker?" />
        <br />
    </a>
    <a href="https://www.theotaku.com/quizzes/view/3092/are_you_an_ultimate_quiz_taker%3F">Are You An Ultimate Quiz Taker?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<a href="https://hellokittyminigun.neocities.org/quiz/mojib-ribbon-quiz.html">
    <img src="https://hellokittyminigun.neocities.org/quiz/mojiko_result.png"
        alt="Mojiko" title="I'm Mojiko!">
</a>

<a href="https://crygorcrisis.neocities.org/retro/?z=/retro/pquiz/">
    <img src="/assets/images/quizzes/mona.png" alt="I'm Mona!">
</a>

<div class="quiz-card">
    <div style="display: inline; flex-direction: column; align-items: flex-start;">
        <p>Nickname: Hexkey</p>
        <a href="https://pokemonsafaricenter.neocities.org">
            <img src="https://pokemonsafaricenter.neocities.org/PokemonSprites/Dragon/Regular/612.png" alt="Random Image" style="max-width: 150px; max-height: 150px;">
        </a>
        <p>Type: Dragon</p><p>Nature: Adamant</p>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
            <p>Dragon Dance</p>
            <p>Dragon Pulse</p>
            <p>Dragon Claw</p>
            <p>Poison Tail</p>
        </div>
    </div>
</div>

<div class="quiz-card">
    <a href="http://mirage-island.neocities.org/quiz.html">
        <img src="http://mirage-island.neocities.org/results/ralts.gif" alt="Ralts" title="You're a sensitive, methodical person who is slow to warm up to others. You like to spend a lot of time alone and prefer having a select few friends.">
    </a>
</div>

<div align="center">
<a href="https://www.nerdtests.com/mq/uttake.php?id=109440">
<img src="https://www.nerdtests.com/mq/badge/dec8981072fb5719.jpg" border="0" alt="How many kids could you fight? -- Make and Take a Fun Quiz @ NerdTests.com's User Tests!" title="How many kids could you fight? Test -- Create and Take a Fun Test @ NerdTests.com's User Tests!">
</a><br/><span style="font-size:10px; ">My Result: 24 Children</span><br/><span style="font-size:10px; ">-= <a href="https://www.nerdtests.com/mq/uttake.php?id=109440">click to take @ NerdTests.com</a> =-</span>
</div>

<div class="quiz-card">
    <a href="https://www.theotaku.com/quizzes/view/2149/who_is_your_detective_persona%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/2149_Encyclopedia_Brown.jpg"
        alt="Who Is Your Detective Persona?" /><br />
    </a>
    <a href="https://www.theotaku.com/quizzes/view/2149/who_is_your_detective_persona%3F">Who Is Your Detective Persona?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <a href="https://theotaku.com/quizzes/view/3786/are_you_the_sun%2C_moon%2C_or_earth%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/3786_Earth.jpg" alt="Are You The Sun, Moon, Or Earth?" />
        <br />
    </a>
    <a href="https://theotaku.com/quizzes/view/3786/are_you_the_sun%2C_moon%2C_or_earth%3F">Are You The Sun, Moon, Or Earth?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<div class="quiz-card">
    <a href="https://www.theotaku.com/quizzes/view/561/what_eevee_evolution_are_you%3F">
        <img border="0" src="http://www.theotaku.com/guru_results/561_Eevee.jpg" alt="What Eevee Evolution Are You?" />
        <br />
    </a>
    <a href="https://www.theotaku.com/quizzes/view/561/what_eevee_evolution_are_you%3F">What Eevee Evolution Are You?</a>
    <br />Hosted By theOtaku.com: <a href="http://www.theotaku.com" title="Anime">Anime</a>
</div>

<a href="https://cadnomori.neocities.org/quizzes/nen">
    <img src="/assets/images/quizzes/conjurer.png" alt="Conjurer">
</a>

<a href="https://thel3tterm.neocities.org/bonus/quiz.html">
    <img src="https://thel3tterm.neocities.org/resources/seraph_result.gif" alt="Seraph"
    title="You are the substance of existence. With your hands and the very essence of yourself you craft all that could be into all that is. You are form against chaos, and a shield against violence. You hold onto your memories and the things you cherish as tightly as you can, and the things you cherish are inumerable. Some see your actions as rigid and anxious, resenting your resistance to change. You and I both know, however, that your love and fear are one and the same, and that within you, within the abyss of your memories and experiences, within the past tense, all things are eternal.">
</a>

        </article>
        
    </main>

    <aside class="sticky" data-area="playlist">
        <div id="playlist-container" class="column-with-space">

    <div class="inline-list">
        <button type="button" aria-label="Previous Video" id="btn-prev"></button>
        <button type="button" aria-label="Play Video" data-playing="false" id="btn-pause-play"></button>
        <button type="button" aria-label="Next Video" id="btn-next"></button>
        <select title="Playing Mode" id="playing-mode">
            <option value="PLAYLIST">Playlist</option>
            <option value="LOOP">Loop Song</option>
            <option value="RANDOM" selected>Random</option>
        </select>
    </div>

    <select size="5" id="select-song">
        
        <option value="P9YFVxaejxI"   selected>
            Fanny Lu - Tu no eres para mí</option>
        
        <option value="jGTcXOWplL8"  >
            Fanny Lu - Celos</option>
        
        <option value="rz5TWTSzLpU" data-start="55"  >
            Paty Cantú - Corazón Bipolar</option>
        
        <option value="Nsq7nPWzVJE" data-start="50"  >
            Paty Cantú - Suerte</option>
        
        <option value="5iQw_0vgB3M"  >
            Paty Cantú - Goma de Mascar</option>
        
        <option value="IY5N15nBnKg"  >
            Alex Syntek - Volverte a Ver</option>
        
        <option value="-4R4wl766t8" data-start="22"  >
            Alex Syntek - Tú necesitas</option>
        
        <option value="xraKpchXF1c"  >
            Alex Syntek - Intocable</option>
        
        <option value="lUXT6phLj8E" data-start="22"  >
            Jotdog - Las pequeñas cosas</option>
        
        <option value="WOK0eN1V57k"  >
            Jotdog - Hasta contar a mil</option>
        
        <option value="WOK0eN1V57k"  >
            Jotdog - Hasta contar a mil</option>
        
        <option value="Si4RD5qxlIM" data-start="11"  >
            Jotdog - Corazón de metal</option>
        
        <option value="BuY7HYSDoTM"  >
            Jesse &amp; Joy - Espacio Sideral</option>
        
        <option value="r0eIhlsks4s"  >
            Jesse &amp; Joy - La de la mala suerte</option>
        
        <option value="P2hM9CLAMu4" data-start="33"  >
            Jesse &amp; Joy - ¡Corre!</option>
        
        <option value="6JqnbsQpljU"  >
            Bacilos - Tabaco y Chanel</option>
        
        <option value="-zgDXIi1uYw"  >
            Bacilos - Caraluna</option>
        
        <option value="F5-oCyBQW8k"  >
            Bacilos - Mi Primer Millón</option>
        
        <option value="4RiM7bbc7io"  >
            Mecano - Ay qué pesado</option>
        
        <option value="fx5IkizUCwQ"  >
            Mecano - No es serio este cementerio</option>
        
        <option value="F6xk5g-GKpk"  >
            Mecano - Los amantes</option>
        
        <option value="D6RMuCpQ3b8"  >
            Mecano - Barco a Venus</option>
        
        <option value="n_jqUkIYo1w"  >
            Mecano - Me cuesta tanto olvidarte</option>
        
        <option value="Y4fm-ebvAOs"  >
            OV7 - Te quiero tanto, tanto</option>
        
        <option value="pmYtefifbx0"  >
            OV7 - Enloquéceme</option>
        
        <option value="_AFBDwZs-wo" data-start="40"  >
            OV7 - Shabadaba</option>
        
        <option value="fsXRX7gfm4Q" data-start="40"  >
            OV7 - Un pie tras otro pie</option>
        
        <option value="eN96GCSjftw" data-start="26"  >
            RBD - Solo quédate en silencio</option>
        
        <option value="ZB4RFVAlNFw"  >
            RBD - Rebelde</option>
        
        <option value="dqxmiGPXVbY"  >
            RBD - Este corazón</option>
        
        <option value="dqxmiGPXVbY"  >
            RBD - Este corazón</option>
        
        <option value="fv1toOv2M1M"  >
            RBD - Inalcanzable</option>
        
        <option value="epzlRF_Smks"  >
            Lu - Por besarte</option>
        
        <option value="y8rBC6GCUjg"  >
            Julieta Venegas - Me Voy</option>
        
        <option value="-zRjGUSoXKQ"  >
            Julieta Venegas - Algo está cambiando</option>
        
        <option value="tIpzfs5tBJU"  >
            Julieta Venegas - Limón y Sal</option>
        
        <option value="CuTx1QwLPjM" data-start="8"  >
            Julieta Venegas - Lento</option>
        
        <option value="y8rBC6GCUjg"  >
            Julieta Venegas - Me voy</option>
        
        <option value="IKmPci5VXz0"  >
            Natalia Lafourcade - Hasta la Raíz</option>
        
        <option value="Xqr-Ku5EaGE"  >
            Natalia Lafourcade - En los 2000s</option>
        
        <option value="410cZw2YI0g"  >
            Natalia Lafourcade - Nunca es Suficiente</option>
        
        <option value="cx5qVmtfayA"  >
            La Oreja de Van Gogh - La playa</option>
        
        <option value="ga5Bo4YdgH4"  >
            Juan Gabriel - Hasta que te conocí</option>
        
        <option value="RgKqxLAhRKE"  >
            Juan Gabriel - Amor eterno</option>
        
        <option value="-7gSsL6WkME"  >
            Kabah - La calle de las sirenas</option>
        
        <option value="eXwsfJYc8UY" data-start="24"  >
            Kabah &amp; Alejandra Guzmán - Al pasar</option>
        
        <option value="8k2GN568irc"  >
            Sentidos Opuestos - Amor de papel</option>
        
        <option value="8Dvy2E9lHT8"  >
            Miranda! - Don</option>
        
        <option value="a3hOeU7w59o"  >
            Miranda! - Perfecta</option>
        
        <option value="sl4GO6pgRas"  >
            La unión - Lobo hombre en París</option>
        
        <option value="AyxpXVUy81o" data-start="28"  >
            Fey - Azúcar Amargo</option>
        
        <option value="oWBf9hfW_4Y"  >
            Joe Arroyo - La revolución</option>
        
        <option value="pz9O3UeM_o0"  >
            Adolescent&#39;s Orquesta - Virgen</option>
        
        <option value="d9bRnGo2gjk"  >
            Adolescent&#39;s Orquesta - Persona Ideal (Me tengo que ir</option>
        
        <option value="Zc13NAc7dvM"  >
            Gilberto Santa Rosa - Conteo Regresivo (Versión Salsa)</option>
        
    </select>
</div>
    </aside>
</div>

    <a id="gototop" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
        <path d="M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z"/>
    </svg>
</a>
    <footer id="footer">
    <span>Last updated on <time id="last-updated" datetime="0000">some day</time></span>
    
</footer>
<div style="width: 100vw; height: max(32rem, calc(100vh - 30rem)); overflow: hidden; background: #0d0d0d;">
    <img src="/assets/images/evora-about-banner.png" alt="Evora" style="display: block; width: 100% !important; max-width: none !important; height: 100% !important; margin: 0; object-fit: cover; object-position: center; image-rendering: pixelated;">
</div>
</body>
</html>
